<!-- footer -->
	<div class="clearfix">
	    <p class="copyright">Copyright 2018</p>
	    <p class="message">Created with <span style="color:red"> &hearts; </span> by <span class="name">GA</span></p>
	</div>