/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";


.card {
	height: 20em;
	width: 18em;
}

.jumbotron1 {
	background-image: url('https://cdn.pixabay.com/photo/2018/04/19/15/58/travel-3333493_1280.jpg');
	height: 300px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
	height: 300px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
}

section {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.container {
	max-width: 1000px;

}

.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.profilepic {
	max-width: 10em;
	max-height: 10em;
	border-radius: 50%;
}