/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";


.signup {
	height: 100%;
}


/*location/ reviews*/

.review-button {
	display: flex;
	justify-content: flex-end;
	margin-right: 2em;
	max-height: 3em;
	margin-top: 1em;
	margin-left: .5em;
}


.review-body {
	display: flex;
	flex-direction: row;
}

.review-review {
	display: flex;
	flex-direction: column;
}

.card-body {
	padding: 1em;
	margin: auto;
}

.travelTitle {
	font-family: 'Lobster', cursive;
	font-size: 27px;
	color: #18A580;
}

h4 {
	text-align: center;
}
.pgecity {
	text-align: center;
	font-weight: bold;
	text-align: center;
}


.pgedesc {
	margin: 40px 60px 100px 70px;
	font-family: taviraj;
	text-align: center;
}

/*cards*/

.location-cards {
	max-width: 1000px;
	margin: auto;
}

.card-city {
	font-family: Taviraj;
	font-size: 25px;
	text-align: center;
	color: black;
}

.card-text-location {
	width: 100%;

}

.card-country-home {
	font-weight: bold;
	text-align: center;
	color: #6AA19A;
}

.card-city-home {
	text-align: center;
	color: #000;
	font-size: 1.25em;
}

.card-title-location {
	font-weight: bold;
	text-align: left;
}

.card-text {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}

.card-title {
	color: #6AA19A;
	text-decoration: uppercase;
	font-weight: bold;
	text-align: center;

}

.card {
	display: inline-flex;
	margin-left: 70px;
	margin-top: 5em;
	height: 20em;
	width: 22em;
}

/*Home page layout*/
.trvl {
	margin: 30px 50px 30px 50px;
	font-family: taviraj;
	text-align: center;
}

.jumbotron1 {
	background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/46/scotland-1761292__480.jpg');
	height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
	height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*Nav Bar */
.navbar {
	flex-wrap: nowrap;
}

.navbar-nav {
	flex-direction: row;
	justify-content: flex-end;
}

.collapse {
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
}

.collapse.show {
  display: inline-block;
}

.nav-item-nav-link {
    font-family: "Roboto Condensed";
    padding-left: 1em;
    color: #000;
    text-align: right;	
}

.nav-item-nav-link:hover {
	color: #43464B;
}

.navbar-brand {
	font-family: Taviraj;
	font-weight: bold;
	font-size: 1.5em;
}

.navbar-brand:hover {
	color: #43464B;
}


a:hover {
	text-decoration: none;
}

/* Profile page*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
}

section {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.profile {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.profilepic {
	max-width: 10em;
	max-height: 10em;
	border-radius: 50%;
}

.reviews-buttons {
	display: flex;
	flex-direction: row;
	margin-left: 4.25em;
	margin-bottom: 1em;
}

.user-review-card {
	display: inline-flex;
	height: 15em;
	/*width: 100%;*/
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.user-review-border {
	border: 2px #d3d3d3 solid;
	border-radius: 10px;
}

/*footer*/

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    margin-top: 60px;
    font-size: 14px;
    letter-spacing: 0.08em;
    height: 60px;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-family: Raleway;
    float: left;
    margin-top: 17px;
 }

.message {
    font-family: Raleway;
    float: right;
    margin-top: 17px;
}
