<h1>Edit Review</h1>

<%= form_for ([@user, @location, @review]) do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title", size: "56.8" %>
      </div>
      <div>
        <%= f.text_area :description, placeholder: "Description", :rows => 10, style: 'width:100%;' %>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class:"btn btn-secondary"%>
        </div>
      
    <% end %>